/Atividades/build/
/java/socket/target/
/java/Sistemas/target/
/java/Aula RMI/build/
/java/TesteEstresse/target/
/java/Monitoramento/target/
/java/Exercicios/target/
/java/AulaThreads/AulaThreads/build/
/java/AulaThreads/AulaThreads/nbproject/private/
/java/AulaThreads22/AulaThreads/build/
/java/AulaThreads22/AulaThreads/nbproject/private/
/java/AulaTCPMultiThread/build/
/java/AulaTCP/build/
/java/AulaTCPObjeto/build/
/java/AulaUDP/build/
/java/AulaTCPObjeto/dist/
